footer {
  padding: 1rem 0;
  background-color: #f8f9fa;

}
.bg{
  border: 1px solid black;
  margin-top: 100px;
  height: 100px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  
}

.text1{
  font-size: 14px;
  color: gray;
  text-align: center;

}